.borderline::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 5px;
  background-color: rgb(159, 204, 52);
  height: 35px;
}

.fileTopBorder::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  display: block;
  background: yellowgreen;
}

.hiAnimation {
  animation: hiAnimations 1.5 ease-in-out;
}

@keyframes hiAnimations {
  50% {
    transform: rotateX(-50%);
  }
  100% {
    transform: rotateX(70%);
  }
}

.scrollFbarHIde::-webkit-scrollbar {
  width: 0;
}

/* .MuiSvgIcon-root {
  height: 1rem;
} */
