.borderline::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 5px;
  background-color: rgb(159, 204, 52);
  height: 35px;
}
